  <ion-card color="dark">
    <ion-card-header>
      <ion-card-subtitle>
        <span class="text-primary">{{ index + 1 }}. </span>
        <span class="new-source-name">{{ new.source.name }}</span>
        <div class="new-more">
          <ion-button (click)="showMenu()" fill="clear">
            <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button>
        </div>
      </ion-card-subtitle>
      <ion-card-title (click)="openNew()">{{ new.title }}</ion-card-title>
    </ion-card-header>
    <!-- Solo si existe imagen pone imagen *ngIf -->
    <ion-img *ngIf="new.urlToImage" [src]="new.urlToImage" (click)="openNew()"></ion-img>
    <ion-card-content>
      {{ new.description }}
    </ion-card-content>
  </ion-card>