<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Headlines
    </ion-title>
  </ion-toolbar>
  <ion-segment scrollable color="primary" (ionChange)="changeCategory( $event )">
    <ion-segment-button mode="md" *ngFor="let category of categories" [value]="category" checked>
      <ion-label class="text-capitalize">{{ category }}</ion-label>
    </ion-segment-button>
  </ion-segment>  
</ion-header>

<ion-content color="dark">
  <app-news [news]="news"></app-news>

</ion-content>
