<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Headlines
    </ion-title>
  </ion-toolbar>
  <ion-segment scrollable color="primary" (ionChange)="changeCategory( $event )">
    <ion-segment-button mode="md" *ngFor="let category of categories" [value]="category">
      <ion-label class="text-capitalize">{{ category }}</ion-label>
    </ion-segment-button>
  </ion-segment>  
</ion-header>

<ion-content color="dark">
  <app-news [news]="news"></app-news>

  <!-- Infinit scroll -->
  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData( $event )">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
