<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <!-- Mandamos el news al componente NewsComponent -->
  <app-news [news]="news"></app-news>

  <!-- Infinit scroll -->
  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData( $event )">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>